html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {

}
header {
  margin: 0;
}
.banner {
  margin: 0;
  position: relative;
  width: 100%;

}
h1 {

}
img {
  width: 100%;
  padding: 1rem;
}
h2 {

}
.logo {
  float: left;
  width: 20%;

}
figure {
  margin: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  text-shadow: 3px 4px 4px #000;
}
figcaption {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;

}
nav ol li {
  display: inline-block;
  text-align: center;
  padding: 0.7em;
  float: left;
  width: 25%;
  margin: 0;
}

ol li h3 {
  list-style-type: none;
}
a.learnmore {
  padding: .5rem 3rem;
  border: 1px solid #000;
  display: block;
  text-align: center;

}
a.buttons {
  padding: .5rem;
  border: 1px solid blue;
  display: inline-block;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-100%);
  margin-top: 5em;
}
.bannerbtn {
  padding: .5rem;
  border: 1px solid blue;
  display: inline-block;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-55%);

}
footer {
  border-top: 1px solid #000;
}
